<div class="comment">
    {{#each this}}
        <div class="card">
            <section class="comment card-body">
                <div>
                    {{comment_text}}
                </div>
                <div>
                    {{user.username}}
                </div>
            </section>
        </div>
    {{/each}}
</div>