<div class="card flex-column">
    <h2 class="card-header">
        Please enter your username and password
    </h2>
    <form class="card-body" id="login-form">
        <label for="username" class="form-label">username</label>
        <input type="username" class="form-control" id="username-login" placeholder="Enter Username">
        <div class="form-text" id="usernameHelp">
        </div>
        <div>
            <label for="password" class="form-labe">password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Enter Password">
            <div class="form-text" id="passwordHelp">

            </div>
            <button type="submit" class="btn btn-primary" id="login-btn">Log in</button>
        </div>
    </form>
</div>
<script src="js/login.js"></script>